@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    box-sizing: border-box;
}

.header-bg{
    background: url('./assets/header.png');
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.second-line{
    background: url(./assets/line.svg);
}
#whatsapp .whtsapp {
    position: fixed;
    transform: all 0.5s ease;
    background-color: #26CC64;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 70px;
    left: 40px;
    border: 0;
    z-index: 9999;
    width: 60px;
    height: 60px;
    line-height: 50px;
}

#whatsapp .whtsapp:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70px;
    height: 70px;
    background-color: #25ae57;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

#whatsapp .whtsapp:focus {
    border: none;
    outline: none;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
